<!-- creative menu -->
<div class="container-fluid">
    <div class="row">
        <div class="menu-wrap">
            <nav class="menu">
                <!-- Menu Links -->
                <div class="icon-list">
                    <a href="/aboutUs"><i class="fa fa-info-circle"></i><span>About Us</span></a>
                    <a href="/history"><i class="fa fa-fast-backward"></i><span>History</span></a>
                    <a href="/art"><i class="fa fa-fw fa-globe"></i><span>Service</span></a>
                    <a href="/event"><i class="fa fa-calendar"></i><span>Event</span></a>
                    <a href="/forum"><i class="fa fa-comments-o"></i><span>Forum</span></a>
                    <a href="/classes"><i class="fa fa-graduation-cap"></i><span>Classes</span></a>
                </div>
            </nav>
        </div>
        <button class="menu-button" id="open-button"></button><!-- menu button -->
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-end navicon">
        <a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
    </div>
</div>