<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Website Title -->
    <title>The Annexe Communities Archives</title>
    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Font-Awesome -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="assets/lightbox/css/lightbox.css" rel="stylesheet">
    <!-- Text Rotator-->
    <link href="assets/textrotator/simpletextrotator.css" rel="stylesheet">
    <!-- FlexSlider -->
    <link href="assets/flexslider/flexslider.css" rel="stylesheet">
    <!-- Theme Style -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Animations -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body id="top">

    <!-- ****************************** Preloader ************************** -->
    <div id="preloader"></div>


    <!-- ==========================
        HEADER SECTION 
        =========================== -->
    <header id="home">
        <!-- creative menu -->
        <div class="container-fluid">
            <div class="row">
                <div class="menu-wrap">
                    <nav class="menu">
                        <!-- Menu Links -->
                        <div class="icon-list">
                            <a href="index.html#home"><i class="fa fa-fw fa-home"></i><span>Home</span></a>
                            <a href="index.html#about"><i class="fa fa-fw fa-quote-left"></i><span>About</span></a>
                            <a href="index.html#service"><i class="fa fa-fw fa-globe"></i><span>Service</span></a>
                            <a href="index.html#portfolio"><i
                                    class="fa fa-fw fa-picture-o"></i><span>Portfolio</span></a>
                            <a href="index.html#blog"><i class="fa fa-fw fa-rss"></i><span>Blog</span></a>
                            <a href="index.html#contact"><i class="fa fa-fw fa-envelope-o"></i><span>Contact</span></a>
                        </div>
                    </nav>
                </div>
                <button class="menu-button" id="open-button"></button><!-- menu button -->
            </div><!--/row-->
        </div><!--/container-->
        <!-- Header Image -->
        <section class="hero " id="hero">
            <div class="container">
                <!-- Slider Button (don't edit!)-->
                <div class="row">
                    <div class="col-md-12 text-end navicon">
                        <a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
                    </div>
                </div>
                <!-- HEADER HEADLINE -->
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="animated fadeInDown">
                            <span>The</span>
                            <span style="color:#ffffff"> Annexe </span>
                            <span>Communities Archives</span>
                        </h1><!-- Title -->
                        <h3 class="animated fadeInUp delay-01s"><span class="rotate">Team 5B's Portfolio</span></h3>
                        <!-- Text Rotator -->
                    </div>
                </div>
                <!-- Learn More Button -->
                <div class="row">
                    <div class="col-md-8 text-center">
                        <a href="#service" class="scrollto wow fadeInUp delay-5s">
                            <p>SEE MORE</p>
                            <p class="scrollto--arrow"><img src="img/scroll-down.png" alt="scroll down arrow"></p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Header Image End -->
    </header>

    <!-- ==========================
        SERVICE SECTION 
        =========================== -->
    <section class="features text-center section-padding" id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="services">
                        <div class="row">
                            <!-- Service Box 1 -->
                            <div class="col-md-4 item">
                                <div class="icon">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </div>
                                <h2 class="icon-text">About us</h2><!-- Title -->
                            </div>
                            <!-- Service Box 2 -->
                            <div class="col-md-4 item">
                                <div class="icon">
                                    <i class="fa fa-fast-backward" aria-hidden="true"></i>
                                </div>
                                <h2 class="icon-text">History</h2><!-- Title -->
                            </div>
                            <!-- Service Box 3 -->
                            <div class="col-md-4 item">
                                <div class="icon">
                                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                </div>
                                <h2 class="icon-text">Art</h2><!-- Title -->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="services">
                        <div class="row">
                            <!-- Service Box 1 -->
                            <div class="col-md-4 item">
                                <div class="icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <h2 class="icon-text">Event</h2><!-- Title -->
                            </div>
                            <!-- Service Box 2 -->
                            <div class="col-md-4 item">
                                <div class="icon">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                </div>
                                <h2 class="icon-text">Forum</h2><!-- Title -->
                            </div>
                            <!-- Service Box 3 -->
                            <div class="col-md-4 item">
                                <div class="icon">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <h2 class="icon-text">Classes</h2><!-- Title -->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

    </section>

    <!-- ==========================
        CONTACT SECTION
        =========================== -->
    <section class="text-center section-padding contact-wrap" id="contact">
        <div class="container">
            <!-- Headline -->
            <div class="row contact-details">
                <!-- Adress Box -->
                <div class="col-md-4">
                    <div class="dark-box box-hover">
                        <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                        <p>23 Ipsum street, New York</p>
                    </div>
                </div>
                <!-- Phone Number Box -->
                <div class="col-md-4">
                    <div class="dark-box box-hover">
                        <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                        <p>+12 345 6789</p>
                    </div>
                </div>
                <!-- E-Mail Box -->
                <div class="col-md-4">
                    <div class="dark-box box-hover">
                        <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                        <p><a href="index.html#">info@themewagon.com</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Google Maps (Change your Settings below) -->
                <div class="col-md-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1472.6021056896864!2d-4.305888388402913!3d55.87128931153583!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488845db583659bf%3A0x3679cb1cf3b1b95d!2sThe%20Annexe%20Healthy%20Living%20Centre!5e0!3m2!1sen!2suk!4v1689773034626!5m2!1sen!2suk"
                        width="555" height="390" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" id="googlemaps"></iframe>
                </div>
                <!-- Contact Form -->
                <div class="col-md-6 contact">
                    <form role="form">
                        <!-- Name -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- E-Mail -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Phone Number -->
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <!-- Message Area -->
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Write you message here..."
                                style="height:232px;"></textarea>
                        </div>
                        <!-- Subtmit Button -->
                        <button type="submit" class="btn btn-send">
                            Send message
                        </button>
                    </form>
                </div>
            </div>
            <br>
            <!-- Social Buttons - use font-awesome, past in what you want -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-buttons">
                        <li><a href="index.html#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                        <!-- dribble -->
                        <li><a href="index.html#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                        <!-- twitter -->
                        <li><a href="index.html#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                        <!-- facebook -->
                        <li><a href="index.html#" class="social-btn"><i class="fa fa-deviantart"></i></a></li>
                        <!-- deviantart -->
                        <li><a href="index.html#" class="social-btn"><i class="fa fa-youtube"></i></a></li>
                        <!-- youtube -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
        CONTACT SECTION END
        =========================== -->



    <!-- ==========================
        FOOTER SECTION
        =========================== -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>All Rights Reserved. &copy; 2015 <a href="http://www.themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==========================
        FOOTER SECTION END
        =========================== -->


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="assets/smoothscroll/smoothscroll.js"></script>
    <!-- Bootstrap -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Waypoints -->
    <script src="js/waypoints.min.js"></script>
    <!-- classie.js -->
    <script src="js/classie.js"></script>
    <!-- FlexSlider -->
    <script src="assets/flexslider/jquery.flexslider.js"></script>
    <!-- Modernizr -->
    <script src="js/modernizr.js"></script>
    <!-- Text Rotator -->
    <script src="assets/textrotator/jquery.simple-text-rotator.js"></script>
    <!-- Lightbox.js -->
    <script src="assets/lightbox/js/lightbox.min.js"></script>
    <!-- Theme JavaScript Core -->
    <script src="js/main.js"></script>
    <script src="js/script.js"></script>


    <!-- TEXT ROTATOR SETTINGS -->
    <script type="text/javascript">
        $(".rotate").textrotator({
            animation: "fade", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
            separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
            speed: 2000 // How many milliseconds until the next word show.
        });
    </script>

</body>

</html>