<header id="home">

    <!-- Header Image -->
    <section class="hero " id="hero">
        <div class="container">
            <!-- Slider Button (don't edit!)-->
            <!-- HEADER HEADLINE -->
            <div class="row">
                <div class="col-md-8">
                    <h1 class="animated fadeInDown">
                        <span>The</span>
                        <span style="color:#ffffff"> Annexe </span>
                        <span>Communities Archives</span>
                    </h1><!-- Title -->
                    <h3 class="animated fadeInUp delay-01s"><span class="rotate">Team 5B's Portfolio</span></h3>
                    <!-- Text Rotator -->
                </div>
            </div>
            <!-- Learn More Button -->
            <div class="row">
                <div class="col-md-8 text-center">
                    <a href="#service" class="scrollto wow fadeInUp delay-5s">
                        <p>SEE MORE</p>
                        <p class="scrollto--arrow"><img src="img/scroll-down.png" alt="scroll down arrow"></p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Header Image End -->
</header>

<!-- ==========================
        SERVICE SECTION 
        =========================== -->
<section class="features text-center section-padding" id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="services">
                    <div class="row">
                        <!-- Service Box 1 -->
                        <div class="col-md-4 item">
                            <a href="/aboutUs">
                                <div class="icon">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </div>
                            </a>
                            <h2 class="icon-text">About us</h2><!-- Title -->
                        </div>
                        <!-- Service Box 2 -->
                        <div class="col-md-4 item">
                            <a href="/history">
                                <div class="icon">
                                    <i class="fa fa-fast-backward" aria-hidden="true"></i>
                                </div>
                            </a>
                            <h2 class="icon-text">History</h2><!-- Title -->
                        </div>
                        <!-- Service Box 3 -->
                        <div class="col-md-4 item">
                            <a href="/art">
                                <div class="icon">
                                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                </div>
                            </a>
                            <h2 class="icon-text">Art</h2><!-- Title -->
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="services">
                    <div class="row">
                        <!-- Service Box 1 -->
                        <div class="col-md-4 item">
                            <a href="/event">
                                <div class="icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </a>
                            <h2 class="icon-text">Event</h2><!-- Title -->
                        </div>
                        <!-- Service Box 2 -->
                        <div class="col-md-4 item">
                            <a href="/forum">
                                <div class="icon">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                </div>
                            </a>
                            <h2 class="icon-text">Forum</h2><!-- Title -->
                        </div>
                        <!-- Service Box 3 -->
                        <div class="col-md-4 item">
                            <a href="/classes">
                                <div class="icon">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                            </a>
                            <h2 class="icon-text">Classes</h2><!-- Title -->
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

</section>

<!-- ==========================
        CONTACT SECTION
        =========================== -->
<section class="text-center section-padding contact-wrap" id="contact">
    <div class="container">
        <!-- Headline -->
        <div class="row contact-details">
            <!-- Adress Box -->
            <div class="col-md-4">
                <div class="dark-box box-hover">
                    <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                    <p>23 Ipsum street, New York</p>
                </div>
            </div>
            <!-- Phone Number Box -->
            <div class="col-md-4">
                <div class="dark-box box-hover">
                    <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                    <p>+12 345 6789</p>
                </div>
            </div>
            <!-- E-Mail Box -->
            <div class="col-md-4">
                <div class="dark-box box-hover">
                    <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                    <p><a href="index.html#">info@themewagon.com</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Google Maps (Change your Settings below) -->
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1472.6021056896864!2d-4.305888388402913!3d55.87128931153583!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488845db583659bf%3A0x3679cb1cf3b1b95d!2sThe%20Annexe%20Healthy%20Living%20Centre!5e0!3m2!1sen!2suk!4v1689773034626!5m2!1sen!2suk"
                    width="555" height="390" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" id="googlemaps"></iframe>
            </div>
            <!-- Contact Form -->
            <div class="col-md-6 contact">
                <form role="form">
                    <!-- Name -->
                    <div class="row">
                        <div class="col-md-6">
                            <!-- E-Mail -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Phone Number -->
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <!-- Message Area -->
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Write you message here..."
                            style="height:232px;"></textarea>
                    </div>
                    <!-- Subtmit Button -->
                    <button type="submit" class="btn btn-send">
                        Send message
                    </button>
                </form>
            </div>
        </div>
        <br>
        <!-- Social Buttons - use font-awesome, past in what you want -->
        <div class="row">
            <div class="col-md-12">
                <ul class="social-buttons">
                    <li><a href="index.html#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                    <!-- dribble -->
                    <li><a href="index.html#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                    <!-- twitter -->
                    <li><a href="index.html#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <!-- facebook -->
                    <li><a href="index.html#" class="social-btn"><i class="fa fa-deviantart"></i></a></li>
                    <!-- deviantart -->
                    <li><a href="index.html#" class="social-btn"><i class="fa fa-youtube"></i></a></li>
                    <!-- youtube -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ==========================
        CONTACT SECTION END
        =========================== -->