<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Website Title -->
    <title>The Annexe Communities Archives</title>
    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Font-Awesome -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="assets/lightbox/css/lightbox.css" rel="stylesheet">
    <!-- Text Rotator-->
    <link href="assets/textrotator/simpletextrotator.css" rel="stylesheet">
    <!-- FlexSlider -->
    <link href="assets/flexslider/flexslider.css" rel="stylesheet">
    <!-- Theme Style -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Animations -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body id="top">
    <div id="preloader"></div>
    <%- include("./partials/navbar.ejs") %>
        <%-body %>
            <%- include("./partials/footer.ejs") %>
                <!-- jQuery -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <!-- SmoothScroll -->
                <script type="text/javascript" src="assets/smoothscroll/smoothscroll.js"></script>
                <!-- Bootstrap -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
                <!-- Waypoints -->
                <script src="js/waypoints.min.js"></script>
                <!-- classie.js -->
                <script src="js/classie.js"></script>
                <!-- FlexSlider -->
                <script src="assets/flexslider/jquery.flexslider.js"></script>
                <!-- Modernizr -->
                <script src="js/modernizr.js"></script>
                <!-- Text Rotator -->
                <script src="assets/textrotator/jquery.simple-text-rotator.js"></script>
                <!-- Lightbox.js -->
                <script src="assets/lightbox/js/lightbox.min.js"></script>
                <!-- Theme JavaScript Core -->
                <script src="js/main.js"></script>
                <script src="js/script.js"></script>


                <!-- TEXT ROTATOR SETTINGS -->
                <script type="text/javascript">
                    $(".rotate").textrotator({
                        animation: "fade", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
                        separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
                        speed: 2000 // How many milliseconds until the next word show.
                    });
                </script>

</body>

</html>